body {
    background-color: #B5D9FC
}

.filmTableHeader{
    text-align: left;
    color: #000000;
    font-size: xx-large;
}

.filmTableOddRow {
    background-color: #6CAFF0;
}

.filmTableEvenRow {
    background-color: #8FC4F7;
}

.filmSubTableRow {
    vertical-align: top;
}

.filmTableCol2 {
    background-color: #B5D9FC;
    vertical-align: top;
}

.btn {
    display: block;
    width: 100px;
    text-align: center;
}

.filmDescription {
    word-wrap: break-word;
}
.col2 {
    width: 300px;
}

.addFilmButton {
  float: right;
}