body {
    color: black;
    text-align: left;
    font-family: Arial,Helvetica,sans-serif;
    font-style: normal;
    font-size: 100%;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("../resources/images/bg.jpg"); 
    background-attachment: fixed;
}

#container {
    margin-left: auto;
    margin-right: auto;
    //width: 1356px;
    width: 1200px;
    margin-bottom: 0%;
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #B5D9FC;
}

#header {
    background-color: #DBB026;
    //width: 1366px;
    width: 1210px;
    height: 100px;
}

#headerText {
    color: white;
}

#headerContainer{
    margin-left: auto;
    margin-right: auto;
    //width: 1366px;
    width: 1210px;
}
#headerText {
    margin-top: 0;
    margin-bottom: 0;
}

.headerLinks {
    vertical-align: bottom;
    text-align: right;
}

.headerTitle {

}

#headerTable {
    width: 100%;
}

.filmTableHeader{
    text-align: left;
    color: #000000;
    font-size: xx-large;
}

.filmTableOddRow {
    background-color: #6CAFF0;
}

.filmTableEvenRow {
    background-color: #8FC4F7;
}

.filmSubTableRow {
    vertical-align: top;
}

.filmTableCol2 {
    background-color: #B5D9FC;
    vertical-align: top;
}

.btn {
    display: block;
    width: 100px;
    text-align: center;
}

.filmDescription {
    word-wrap: break-word;
}
.col2 {
    width: 300px;
}

.addFilmButton {
  float: right;
}