<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Cinema - Add Film</title>
    </h:head>
    <h:body>
        <ui:composition template="administratorBanner.xhtml">
            <ui:define name="content">
                <h1><h:outputText value="Add a new film to the listings"/></h1>
                <h:form>
                    <h:panelGrid columns="3">
                        <h:outputText value="Title:"/>
                        <h:inputText id="title"
                                     title="Title of film:"
                                     value="#{administratorBB.filmToCreate.title}"
                                     size="50"
                                     maxlength="255"
                                     required="true"
                                     requiredMessage="Please enter a film title.">
                        </h:inputText>
                        <h:message class="errorMessage" for="title"/>

                        <h:outputText value="Description:"/>
                        <h:inputText id="description"
                                     title="Film description:"
                                     value="#{administratorBB.filmToCreate.description}"
                                     size="50"
                                     maxlength="255"
                                     required="true"
                                     requiredMessage="Please enter a film description.">
                        </h:inputText>
                        <h:message class="errorMessage" for="description"/>
                        
                        <h:outputText value="Rating:"/>
                        <h:inputText id="classification"
                                     title="Film classification:"
                                     value="#{administratorBB.filmToCreate.classification}"
                                     size="3"
                                     maxlength="3"
                                     required="true"
                                     requiredMessage="Please enter a film classification.">
                        </h:inputText>
                        <h:message class="errorMessage" for="classification"/>
                        
                        <h:outputText value="Runtime(mins):"/>
                        <h:inputText id="runtime"
                                     title="Length of film:"
                                     value="#{administratorBB.filmToCreate.runtime}"
                                     size="3"
                                     maxlength="3"
                                     required="true"
                                     requiredMessage="Please enter a runtime."
                                     converterMessage="Error: Runtime has to be a number."
                                     validator="inputValidator">
                        </h:inputText>
                        <h:message class="errorMessage" for="runtime"/>

                        <h:outputText value="Release Date:"/>
                        <h:inputText id="releaseDate"
                                     title="Date of relesase:"
                                     value="#{administratorBB.filmToCreate.releaseDate}"
                                     size="10"
                                     maxlength="10"
                                     required="true"
                                     converter="dateConverter"
                                     requiredMessage="Please enter a release date for the film">
                        </h:inputText>
                        <h:message class="errorMessage" for="releaseDate"/>
                        
                        <h:panelGroup>
                            <h:commandButton value="OK" action="#{administratorBB.addFilm()}"/>
                            <h:commandButton value="Cancel" immediate="true" action="adminHome.xhtml"/>
                        </h:panelGroup>
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>