<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Cinema - Administrator</title>
    </h:head>
    <h:body>
        <ui:composition template="administratorBanner.xhtml">
            <ui:define name="content">
                <h:dataTable value="#{administratorBB.films}"
                             var="film"
                             styleClass="filmTable"
                             headerClass="filmTableHeader"
                             rowClasses="filmTableOddRow,filmTableEvenRow"
                             columnClasses="filmTableCol1,filmTableCol2">

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Currently Showing"/>
                            <h:form>
                                <h:commandButton class="addFilmButton" value="Add Film" action="#{administratorBB.navigateToCreateFilm()}"/>
                            </h:form>
                        </f:facet>

                        <h:panelGrid columns="2" border="1" rowClasses="filmSubTableRow" class="subTable" columnClasses="col1,col2">

                            <h:graphicImage library="images" name="#{film.filmId}.jpg"
                                            alt="Film_Poster"/>

                            <h:panelGroup>
                                <h:outputText value="#{film.title}"/>
                                <p><h:outputText value="#{film.description}" class="filmDescription" /></p>
                                <p><h:outputText value="Rating: #{film.classification}"/></p>
                                <p><h:outputText value="Runtime: #{film.runtime}mins"/></p>
                                <p>
                                    <h:outputText value="Release Date: "/>
                                    <h:outputText value="#{film.releaseDate}"
                                                  converter="dateConverter"/>
                                </p>
                            </h:panelGroup>

                        </h:panelGrid>
                    </h:column>
                    <h:column>
                        <h:form>
                            <p><h:commandButton value="View Sessions" class="btn" action="#{administratorBB.navigateToFilmSessions(film)}"/></p>
                            <p><h:commandButton value="Edit Details" class="btn" action="#{administratorBB.navigateToUpdateFilm(film)}"/></p>
                            <p><h:commandButton value="Remove Film" class="btn" action="#{administratorBB.navigateToDeleteFilm(film)}"/></p>
                        </h:form>
                    </h:column>
                </h:dataTable>             
            </ui:define>
        </ui:composition>
    </h:body>
</html>