<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:head>
        <h:outputStylesheet library="css" name="administratorStyleSheet.css"/>
        <title><h:outputText value="Administrator - Silver-Screen Playhouse"/></title>
    </h:head>
    <h:body>
        <div id="headerContainer">
            <div id="header">
                <h:panelGrid id="headerTable" columns="2" columnClasses="headerTitle,headerLinks">
                    <h:panelGroup>
                        <h1><h:outputText id="headerText" value="Silver-Screen Playhouses"/></h1>
                    </h:panelGroup>
                    
                    <h:panelGroup>
                        <h:form>
                            <h:commandLink class="commandLink" value="Logout Admin" action="#{administratorBB.logout()}"/>
                        </h:form>
                    </h:panelGroup>
                </h:panelGrid>        
            </div>
        </div>
        
        <div id="container">
            <ui:insert name="content"/>
        </div>
    </h:body>
</html>