<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Cinema - Administrator</title>
    </h:head>
    <h:body>
        <ui:composition template="administratorBanner.xhtml">
            <ui:define name="content">
                <h2><h:outputText value="WARNING: You are about to delete this session."/></h2>
                <p><h:outputText value="Deleting this session will remove all assosiated Tickets"/></p>
                <h:form>
                    <h:commandButton type="submit" value="Delete Session" action="#{administratorBB.removeSession()}"/>
                    <h:commandButton type="submit" value="Cancel" immediate="true" action="viewEditSessions.xhtml"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>