<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Cinema - Administrator</title>
    </h:head>
    <h:body>
        <ui:composition template="administratorBanner.xhtml">
            <ui:define name="content">
                <h:panelGrid columns="2" border="1" rowClasses="filmSubTableRow" class="subTable" columnClasses="col1,col2">              
                    <h:graphicImage library="images" name="#{administratorBB.filmToDelete.filmId}.jpg"
                                    alt="Film_Poster"/>
                    <h:panelGroup>
                        <h:outputText value="#{administratorBB.filmToDelete.title}"/>
                        <p><h:outputText value="#{administratorBB.filmToDelete.description}" class="filmDescription" /></p>
                        <p><h:outputText value="Rating: #{administratorBB.filmToDelete.classification}"/></p>
                        <p><h:outputText value="Runtime: #{administratorBB.filmToDelete.runtime}mins"/></p>
                        <p>
                            <h:outputText value="Release Date: "/>
                            <h:outputText value="#{administratorBB.filmToDelete.releaseDate}"
                                          converter="dateConverter"/>
                        </p>
                    </h:panelGroup>               
                </h:panelGrid>
                
                <h2><h:outputText value="WARNING: You are about to delete this film."/></h2>
                <p><h:outputText value="Deleting this film will remove all assosiated Tickets and Sessions"/></p>
                <h:form>                    
                    <h:commandButton type="submit" value="Delete Film" action="#{administratorBB.removeFilm()}"/>
                    <h:commandButton type="submit" value="Cancel" immediate="true" action="adminHome.xhtml"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>