<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Cinema - Edit Film</title>
    </h:head>
    <h:body>
        <ui:composition template="administratorBanner.xhtml">
            <ui:define name="content">                
                <h:panelGrid columns="2" border="1" rowClasses="filmSubTableRow" class="subTable" columnClasses="col1,col2">              
                    <h:graphicImage library="images" name="#{administratorBB.filmToUpdate.filmId}.jpg"
                                    alt="Film_Poster"/>
                    <h:panelGroup>
                        <h:outputText value="#{administratorBB.filmToUpdate.title}"/>
                        <p><h:outputText value="#{administratorBB.filmToUpdate.description}" class="filmDescription" /></p>
                        <p><h:outputText value="Rating: #{administratorBB.filmToUpdate.classification}"/></p>
                        <p><h:outputText value="Runtime: #{administratorBB.filmToUpdate.runtime}mins"/></p>
                        <p>
                            <h:outputText value="Release Date: "/>
                            <h:outputText value="#{administratorBB.filmToUpdate.releaseDate}"
                                          converter="dateConverter"/>
                        </p>
                    </h:panelGroup>               
                </h:panelGrid>
                
                <h1><h:outputText value="Edit film information"/></h1>
                
                <h:form>
                    <h:panelGrid columns="3">
                        <h:outputText value="Film ID:"/>
                        <h:inputText id="filmId"
                                     disabled="true"
                                     title="ID of film:"
                                     value="#{administratorBB.filmToUpdate.filmId}"
                                     size="7"
                                     required="true"
                                     requiredMessage="Please enter a film ID."
                                     converterMessage="Error: Film Id has to be a number."
                                     validatorMessage="Film ID is already in use, please use a differnt ID."
                                     >

                        </h:inputText>
                        <h:message class="errorMessage" for="filmId"/>

                        <h:outputText value="Title:"/>
                        <h:inputText id="title"
                                     title="Title of film:"
                                     value="#{administratorBB.filmToUpdate.title}"
                                     size="50"
                                     maxlength="255"
                                     required="true"
                                     requiredMessage="Please enter a film title.">
                        </h:inputText>
                        <h:message class="errorMessage" for="title"/>

                        <h:outputText value="Description:"/>
                        <h:inputText id="description"
                                     title="Film description:"
                                     value="#{administratorBB.filmToUpdate.description}"
                                     size="50"
                                     maxlength="255"
                                     required="true"
                                     requiredMessage="Please enter a film description.">
                        </h:inputText>
                        <h:message class="errorMessage" for="description"/>
                        
                        <h:outputText value="Rating:"/>
                        <h:inputText id="classification"
                                     title="Film classification:"
                                     value="#{administratorBB.filmToUpdate.classification}"
                                     size="3"
                                     maxlength="3"
                                     required="true"
                                     requiredMessage="Please enter a film classification.">
                        </h:inputText>
                        <h:message class="errorMessage" for="classification"/>
                        
                        <h:outputText value="Runtime(mins):"/>
                        <h:inputText id="runtime"
                                     title="Length of film:"
                                     value="#{administratorBB.filmToUpdate.runtime}"
                                     size="3"
                                     maxlength="3"
                                     required="true"
                                     requiredMessage="Please enter a runtime."
                                     converterMessage="Error: Runtime has to be a number."
                                     validator="inputValidator">
                        </h:inputText>
                        <h:message class="errorMessage" for="runtime"/>

                        <h:outputText value="Release Date:"/>
                        <h:inputText id="releaseDate"
                                     title="Date of relesase:"
                                     value="#{administratorBB.filmToUpdate.releaseDate}"
                                     size="10"
                                     maxlength="10"
                                     required="true"
                                     converter="dateConverter"
                                     requiredMessage="Please enter a release date for the film">
                        </h:inputText>
                        <h:message class="errorMessage" for="releaseDate"/>

                        <h:panelGroup>
                            <h:commandButton value="OK" action="#{administratorBB.modifyFilmDetails()}"/>
                            <h:commandButton value="Cancel" immediate="true" action="adminHome.xhtml"/>
                        </h:panelGroup>
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>