<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Cinema - Edit Session</title>
    </h:head>
    <h:body>
        <ui:composition template="administratorBanner.xhtml">
            <ui:define name="content">
                <h:panelGrid columns="2" border="1" rowClasses="filmSubTableRow" class="subTable" columnClasses="col1,col2">              
                    <h:graphicImage library="images" name="#{administratorBB.filmToDisplay.filmId}.jpg"
                                    alt="Film_Poster"/>
                    <h:panelGroup>
                        <h:outputText value="#{administratorBB.filmToDisplay.title}"/>
                        <p><h:outputText value="#{administratorBB.filmToDisplay.description}" class="filmDescription" /></p>
                        <p><h:outputText value="Rating: #{administratorBB.filmToDisplay.classification}"/></p>
                        <p><h:outputText value="Runtime: #{administratorBB.filmToDisplay.runtime}mins"/></p>
                        <p>
                            <h:outputText value="Release Date: "/>
                            <h:outputText value="#{administratorBB.filmToDisplay.releaseDate}"
                                          converter="dateConverter"/>
                        </p>
                    </h:panelGroup>               
                </h:panelGrid>
                
                <h1><h:outputText value="Update session details"/></h1>
                
                <h:form>
                    <h:panelGrid columns="3">
                        <h:outputText value="Session ID:"/>
                        <h:inputText id="sessionId"
                                     disabled="true"
                                     title="ID of session:"
                                     value="#{administratorBB.sessionToUpdate.sessionId}"
                                     size="10"
                                     maxlength="3"
                                     required="true"
                                     requiredMessage="Please enter a session ID."
                                     converterMessage="Error: Session ID has to be a number."
                                     validatorMessage="Session ID is already in use, please use a differnt ID."
                                     >

                        </h:inputText>
                        <h:message class="errorMessage" for="sessionId"/>

                        <h:outputText value="Screen:"/>
                        <h:selectOneMenu id="screenList"
                                         value="#{administratorBB.sessionToUpdate.screenId}"
                                         required="true"
                                         requiredMessage="Please choose a screen">
                            <f:selectItem itemValue="1" itemLabel="Broad Street - A"/>
                            <f:selectItem itemValue="2" itemLabel="Broad Street - B"/>
                            <f:selectItem itemValue="3" itemLabel="Star City - A"/>
                            <f:selectItem itemValue="4" itemLabel="Star City - B"/>
                            <f:selectItem itemValue="5" itemLabel="Touchwood - A"/>
                            <f:selectItem itemValue="6" itemLabel="Touchwood - VIP-A"/>
                        
                        </h:selectOneMenu>
                        <h:message class="errorMessage" for="screenList"/>

                        <h:outputText value="Date of Session:"/>
                        <h:inputText id="sessionDate"
                                     title="Date of Session:"
                                     value="#{administratorBB.sessionToUpdate.date}"
                                     size="10"
                                     maxlength="10"
                                     required="true"
                                     converter="dateConverter"
                                     requiredMessage="Please enter a date for this session.">
                        </h:inputText>
                        <h:message class="errorMessage" for="sessionDate"/>

                        <h:outputText value="Start Time:"/>
                        <h:inputText id="startTime"
                                     title="Session start time."
                                     value="#{administratorBB.sessionToUpdate.time}"
                                     size="10"
                                     maxlength="5"
                                     required="true"
                                     requiredMessage="Please enter the start time."
                                     converter="timeConverter">
                        </h:inputText>
                        <h:message class="errorMessage" for="startTime"/>

                        <h:panelGroup>
                            <h:commandButton value="OK" action="#{administratorBB.modifySessionDetails()}"/>
                            <h:commandButton value="Cancel" immediate="true" action="viewEditSessions.xhtml"/>
                        </h:panelGroup>
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>