<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Cinema - Administrator</title>
    </h:head>
    <h:body>
        <ui:composition template="administratorBanner.xhtml">
            <ui:define name="content">
                <h:panelGrid columns="2" border="1" rowClasses="filmSubTableRow" class="subTable" columnClasses="col1,col2">              
                    <h:graphicImage library="images" name="#{administratorBB.filmToDisplay.filmId}.jpg"
                                    alt="Film_Poster"/>
                    <h:panelGroup>
                        <h:outputText value="#{administratorBB.filmToDisplay.title}"/>
                        <p><h:outputText value="#{administratorBB.filmToDisplay.description}" class="filmDescription" /></p>
                        <p><h:outputText value="Rating: #{administratorBB.filmToDisplay.classification}"/></p>
                        <p><h:outputText value="Runtime: #{administratorBB.filmToDisplay.runtime}mins"/></p>
                        <p>
                            <h:outputText value="Release Date: "/>
                            <h:outputText value="#{administratorBB.filmToDisplay.releaseDate}"
                                          converter="dateConverter"/>
                        </p>
                    </h:panelGroup>               
                </h:panelGrid>

                <h2><h:outputText value="Available Sessions"/></h2>

                <h:dataTable value="#{administratorBB.sessions}"
                             var="filmSession"
                             styleClass="filmTable"
                             headerClass="filmTableHeader"
                             rowClasses="filmTableOddRow,filmTableEvenRow">
                    
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Session ID"/>
                        </f:facet>
                        <h:outputText value="#{filmSession.sessionId}"/>
                    </h:column>
                    
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Date"/>
                        </f:facet>
                        <h:outputText value="#{filmSession.date}"
                                      converter="dateConverter"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Cinema"/>
                        </f:facet>
                        <h:outputText value="#{filmSession.cinemaName}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Screen"/>
                        </f:facet>
                        <h:outputText value="#{filmSession.screenName}"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Start Time"/>
                        </f:facet>
                        <h:outputText value="#{filmSession.time}"
                                      converter="timeConverter"/>
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:form><h:commandButton type="submit" value="Add Session" action="#{administratorBB.navigateToCreateSession()}"/></h:form>
                        </f:facet>

                        <h:form>               
                            <h:panelGroup>
                                <h:commandButton type="submit" value="Update" action="#{administratorBB.navigateToUpdateSession(filmSession)}"/>
                                <h:commandButton type="submit" value="Delete" action="#{administratorBB.navigateToDeleteSession(filmSession)}"/>
                            </h:panelGroup>
                        </h:form>
                    </h:column>
                </h:dataTable>
                <p>
                    <h:form>
                        <h:commandButton value="Back to Currently Showing" action="adminHome.xhtml"/>
                    </h:form>
                </p>                
            </ui:define>
        </ui:composition>
    </h:body>
</html>