<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>View Sessions</title>
    </h:head>
    <h:body>
        <ui:composition template="/customerBanner.xhtml">
            <ui:define name="content">
                <h1><h:outputText value="Booking Confirmed"/></h1>
                <h:form>
                    <p>
                        <h:outputText value="Click "/>
                        <h:commandLink value="here" action="myTickets.xhtml"/>
                        <h:outputText value=" to view reservations."/>
                    </p>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>