<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>View Sessions</title>
    </h:head>
    <h:body>
        <ui:composition template="/customerBanner.xhtml">
            <ui:define name="content">              
                <h:panelGrid columns="2" border="1" rowClasses="filmSubTableRow" class="subTable" columnClasses="col1,col2">              
                    <h:graphicImage library="images" name="#{customerBB.filmToDisplay.filmId}.jpg"
                                    alt="Film_Poster"/>
                    <h:panelGroup>
                        <h:outputText value="#{customerBB.filmToDisplay.title}"/>
                        <p><h:outputText value="#{customerBB.filmToDisplay.description}" class="filmDescription" /></p>
                        <p><h:outputText value="Rating: #{customerBB.filmToDisplay.classification}"/></p>
                        <p><h:outputText value="Runtime: #{customerBB.filmToDisplay.runtime}mins"/></p>
                        <p>
                            <h:outputText value="Release Date: "/>
                            <h:outputText value="#{customerBB.filmToDisplay.releaseDate}"
                                          converter="dateConverter"/>
                        </p>
                    </h:panelGroup>               
                </h:panelGrid>
                
                <h2><h:outputText value="Confirm details and book tickets"/></h2>
                
                <h:panelGrid columns="2">
                    <h:outputText value="Cinema:"/>
                    <h:outputText value="#{customerBB.sessionToDisplay.cinemaName}"/>
                    
                    <h:outputText value="Screen:"/>
                    <h:outputText value="#{customerBB.sessionToDisplay.screenName}"/>
                    
                    <h:outputText value="Date:"/>
                    <h:outputText value="#{customerBB.sessionToDisplay.date}"
                                  converter="dateConverter"/>
                    
                    <h:outputText value="Start Time:"/>
                    <h:outputText value="#{customerBB.sessionToDisplay.time}" 
                                 converter="timeConverter"/>                                       
                </h:panelGrid>

                <h:form>
                    <p>
                        <h:outputText value="Number of tickets:"/>
                        <h:inputText value="#{customerBB.numberOfTicketsToCreate}"
                                     required="true"
                                     size="2"
                                     maxlength="1"
                                     title="Number of tickets to book:"
                                     requiredMessage="Please state how many tickets you wish to book."
                                     converterMessage="Error: Number of tickets has to be a number."
                                     id="ticketNumberInput"
                                     validator="inputValidator">
                        </h:inputText>
                        <h:message for="ticketNumberInput"/>
                    </p>
                    
                    <h:commandButton value="Book Tickets" action="#{customerBB.bookTicket()}"/>
                    <h:commandButton value="Cancel" action="filmSessions.xhtml" immediate="true"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>