<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Tickets</title>
    </h:head>
    <h:body>
        <ui:composition template="/customerBanner.xhtml">
            <ui:define name="content">
                <h:outputText value="TicketID: #{customerBB.ticketToDelete.ticketId}"/>
                <h:outputText value="SessionID: #{customerBB.ticketToDelete.sessionId}"/>
                <h:outputText value="Customer: #{customerBB.ticketToDelete.customerUsername}"/>
                
                <h1><h:outputText value="Do you want to cancel this reservation?"/></h1>
                <h:form>
                    <h:commandButton value="Yes" action="#{customerBB.cancelReservation()}"/>
                    <h:commandButton value="No" action="myTickets.xhtml"/>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>