<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>View Sessions</title>
    </h:head>
    <h:body>
        <ui:composition template="/customerBanner.xhtml">
            <ui:define name="content">
                
        <h:panelGrid columns="2" border="1" rowClasses="filmSubTableRow" class="subTable" columnClasses="col1,col2">              
            <h:graphicImage library="images" name="#{customerBB.filmToDisplay.filmId}.jpg"
                            alt="Film_Poster"/>
            <h:panelGroup>
                <h:outputText value="#{customerBB.filmToDisplay.title}"/>
                <p><h:outputText value="#{customerBB.filmToDisplay.description}" class="filmDescription" /></p>
                <p><h:outputText value="Rating: #{customerBB.filmToDisplay.classification}"/></p>
                <p><h:outputText value="Runtime: #{customerBB.filmToDisplay.runtime}mins"/></p>
                <p>
                    <h:outputText value="Release Date: "/>
                    <h:outputText value="#{customerBB.filmToDisplay.releaseDate}"
                                  converter="dateConverter"/>
                </p>
            </h:panelGroup>               
        </h:panelGrid>
        
        <h2><h:outputText value="Available Sessions"/></h2>
        
        <h:dataTable value="#{customerBB.sessions}"
                     var="filmSession"
                     styleClass="filmTable"
                     headerClass="filmTableHeader"
                     rowClasses="filmTableOddRow,filmTableEvenRow">
            
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Date"/>
                </f:facet>
                <h:outputText value="#{filmSession.date}"
                              converter="dateConverter"/>
            </h:column>
                     
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Cinema"/>
                </f:facet>
                <h:outputText value="#{filmSession.cinemaName}"/>
            </h:column>
            
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Screen"/>
                </f:facet>
                <h:outputText value="#{filmSession.screenName}"/>
            </h:column>
            
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Start Time"/>
                </f:facet>
                <h:outputText value="#{filmSession.time}"
                              converter="timeConverter"/>
            </h:column>
            
            <h:column>                
                <h:form>               
                    <h:panelGroup>
                        <h:commandButton type="submit" value="Book Ticket" action="#{customerBB.navigateToBookTicket(filmSession)}" disabled="#{!customerBB.isLoggedIn()}"/>
                    </h:panelGroup>
                </h:form>
            </h:column>
        </h:dataTable>
        
        <p>
            <h:form>
                <h:commandButton value="Back to Currently Showing" action="index.xhtml"/>
            </h:form>
        </p>
            </ui:define>
        </ui:composition>
    </h:body>
</html>