<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Silver-Screen Playhouse - Welcome</title>
    </h:head>
    <h:body>
        <ui:composition template="/customerBanner.xhtml">
            <ui:define name="content">
                <h1><h:outputText value="Please Login Below:"/></h1>
                <h:form>
                    <h:messages globalOnly="true"/>
                    <p>
                        <h:outputText value="Username:"/>
                        <h:inputText value="#{customerBB.username}"
                                     id="username"
                                     size="32"
                                     maxlength="32"
                                     required="true"
                                     requiredMessage="Please enter your username"
                                     title="Your username:"/>
                    </p>
                    <p>
                        <h:outputText value="Password:"/>
                        <h:inputSecret value="#{customerBB.password}"
                                       id="password"
                                       size="32"
                                       maxlength="32"
                                       required="true"
                                       requiredMessage="Please enter your password."
                                       title="Your password:"/>
                    </p>
                    <p>
                        <h:commandButton type="submit" value="Login" action="#{customerBB.validateCredentials()}"/> 
                        <h:commandButton type="reset" value="Reset"/>
                        <h:commandButton type="submit" value="Back" action="index.xhtml" immediate="true"/>
                    </p>                 
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>