<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>View Tickets</title>
    </h:head>
    <h:body>
        <ui:composition template="/customerBanner.xhtml">
            <ui:define name="content">       
                <h2><h:outputText value="Reserved Tickets"/></h2>
                
                <h:dataTable value="#{customerBB.tickets}"
                             var="ticket"
                             styleClass="filmTable"
                             headerClass="filmTableHeader"
                             rowClasses="filmTableOddRow,filmTableEvenRow">
                    
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Film"/>
                        </f:facet>
                        <h:outputText value="#{ticket.filmTitle}"/>
                    </h:column>
                    
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Cinema"/>
                        </f:facet>
                        <h:outputText value="#{ticket.cinemaName}"/>
                    </h:column>
                    
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Screen"/>
                        </f:facet>
                        <h:outputText value="#{ticket.screenName}"/>
                    </h:column>
                    
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Date"/>
                        </f:facet>
                        <h:outputText value="#{ticket.dateOfSession}"
                                      converter="dateConverter"/>
                    </h:column>
                    
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Time"/>
                        </f:facet>
                        <h:outputText value="#{ticket.sessionStartTime}"
                                      converter="timeConverter"/>
                    </h:column>
                    
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Ticket ID"/>
                        </f:facet>
                        <h:outputText value="#{ticket.ticketId}"/>
                    </h:column>           
                    
                        <h:column>                
                        <h:form>               
                            <h:panelGroup>
                                <h:commandButton type="submit" value="Cancel Reservation" action="#{customerBB.navigateToDeleteTicket(ticket)}"/>
                            </h:panelGroup>
                        </h:form>
                    </h:column>
                </h:dataTable>

                <p>
                    <h:form>
                        <h:commandButton value="Back to Currently Showing" action="index.xhtml"/>
                    </h:form>
                </p>
            </ui:define>
        </ui:composition>
    </h:body>
</html>